---
import { cn } from '@/utils/className'

interface Props {
  class?: astroHTML.JSX.HTMLAttributes['class']
}
---

<header class={cn('bg-white border-b border-gray-200', Astro.props.class)}>
  <nav class="container flex items-center justify-between p-4">
    <a href="/">Header</a>
  </nav>
</header>
