---
import Layout from '@/layouts/Layout.astro'
// import { gql, graphQLAPI } from '@/api'
import { seoMeta } from '@stephenchenorg/astro/page'
// import { companySettingFields } from '@stephenchenorg/astro/company-setting'
// import type { DataCompanySetting } from '@stephenchenorg/astro/company-setting'

// interface Data extends DataCompanySetting {
//   //
// }

// const data = await graphQLAPI<Data>(gql`
//   query {
//     companySetting {
//       ...CompanySettingFields
//     }
//   }
//   ${companySettingFields}
// `)

const companySetting = {
  lang: 'zh_TW',
  name: 'Astro',
  description: '',
  logo: '',
  address_1: '',
  address_2: '',
  email_1: '',
  email_2: '',
  fb_link: '',
  ig_link: '',
  line_link: '',
  phone_1: '',
  phone_2: '',
  twitter_link: '',
  threads_link: '',
}

const meta = seoMeta({
  title: 'Astro',
})
---

<Layout meta={meta} companySetting={companySetting}>
  <h1>Astro</h1>
</Layout>
