---
import { seoMeta } from '@stephenchenorg/astro/page'
import Layout from '@/layouts/Layout.astro'

const meta = seoMeta({
  title: 'Astro',
})
---

<Layout meta={meta}>
  <div class="container py-8 min-h-[calc(100vh-10.5rem)] flex flex-col items-center justify-center">
    <h1 class="text-4xl text-primary-500 text-center font-bold">
      Astro Starter
    </h1>
  </div>
</Layout>
