---
import type { DataCompanySetting } from '@stephenchenorg/astro/company-setting'
import { companySettingFields } from '@stephenchenorg/astro/company-setting'
import { seoMeta } from '@stephenchenorg/astro/page'
import { gql, graphQLAPI } from '@/api'
import Layout from '@/layouts/Layout.astro'

interface Data extends DataCompanySetting {
  //
}

const data = await graphQLAPI<Data>(gql`
  query {
    companySetting {
      ...CompanySettingFields
    }
  }
  ${companySettingFields}
`)

const meta = seoMeta({
  title: 'Astro',
})
---

<Layout meta={meta}>
  <h1>從 graphQL API 獲取資料</h1>
  <div class="flex items-center justify-center min-h-screen bg-primary-500">
    <div>
      <span>名稱 {data.companySetting.name}</span>
    </div>
  </div>
</Layout>
